{
  "NODE_ENV": "development",
  "PORT": 3344,
  "LOG_LEVEL": "debug",
  "API_DOC": {
    "username": "admin",
    "password": "qwer1234"
  },
  "JWT": {
    "ACCESS_TOKEN_SECRET": "^4M&GB#aJW#hs^NF@Gf37q!&$Me64^3o@4"
  },
  "CORS": {
    "ALLOW_ORIGIN": [
      "http://localhost:3344"
    ]
  },
  "DATABASE_BASE": {
    "uri": "mongodb://localhost/nest"
  }
}